<!DOCTYPE html>
<head>
    <title>Hello World</title>
    <link rel = "stylesheet" href="stylesheets/home.css">
</head>
<body>
    <%friends.forEach(function(el){%>
        <li><%=el%></li>
    <%})%>
</body>